services:
  zookeeper:
    image: zookeeper:3.7
    ports:
      - "2181:2181"
    environment:
      ZOO_MY_ID: 1
      ZOO_SERVERS: server.1=localhost:2888:3888;2181
    volumes:
      - zookeeper_data:/data
    networks:
      - kafka-network

  kafka:
    image: wurstmeister/kafka:latest
    ports:
      - "9092:9092"
    environment:
      KAFKA_ADVERTISED_HOST_NAME: kafka
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_CREATE_TOPICS: "events:1:1"
    volumes:
      - ./data/kafka:/kafka  
    depends_on:
      - zookeeper
    networks:
      - kafka-network

  db:
    image: mysql
    restart: always
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: 1
      MYSQL_USER: skibidi
      MYSQL_PASSWORD: helpme
      MYSQL_DATABASE: fire_data
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - kafka-network

  receiver:
    build:
      context: ./receiver
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - ./logs:/logs
      - ./config/receiver:/config
    depends_on:
      - kafka
    networks:
      - kafka-network
    restart: on-failure

  storage:
    build:
      context: ./storage
      dockerfile: Dockerfile
    ports:
      - "8090:8090"
    depends_on:
      - db
      - kafka
    volumes:
      - ./logs:/logs
      - ./data/storage:/data
      - ./config/storage:/config
    networks:
      - kafka-network
    restart: on-failure

  dashboard:
    build:
      context: ./dashboard
      dockerfile: Dockerfile
    ports:
      - "8091:80"
    networks:
      - kafka-network
    restart: on-failure


    
  processing:
    build:
      context: ./processing
      dockerfile: Dockerfile
    ports:
      - "8100:8100"
    depends_on:
      - storage
    volumes:
      - ./logs:/logs
      - ./data/processing:/data/processing
      - ./config/processing:/config
    networks:
      - kafka-network
    restart: on-failure

  analyzer:
    build:
      context: ./analyzer
      dockerfile: Dockerfile
    ports:
      - "8110:8110"
    depends_on:
      - storage
      - kafka
    volumes:
      - ./logs:/logs
      - ./data/events:/data
      - ./config/analyzer:/config
    networks:
      - kafka-network
    restart: on-failure

volumes:
  mysql_data:
  zookeeper_data:

networks:
  kafka-network:
    driver: bridge  